@charset "UTF-8";
/*!
   ___                     _
  / __| __ __ _ _ __  _ __(_)
  \__ \/ _/ _` | '  \| '_ \ |
  |___/\__\__,_|_|_|_| .__/_|
                     |_|
  https://gitlab.com/pidila/scampi
*/
$primary-color: #058857;
$btn-primary-bg: #058857;
$btn-border-radius: 3px;
$code-color: #058857;
$gray-base: #4d4d49;
$gray-8: #4d4d49;

@import "demo";
@import "../../../src/select-a11y.scss";
